<div class="div1 animated fadeIn bgNegro text-center">

    <div class="container">
        <br>
        <br>

    </div>

    <h2 class="o text-white m-0 fino pb-0">O</h2>

    <h1 class="ocobo text-white mt-0 p-0">OCOBO<span class="audio">AUDIO</span></h1>


    <div class="container">
        <hr class="text-white">
        <br>

    </div>


    <div class="container">

        <p class="font text-uppercase text-white mt-5">Art based over sound</p>

        <p class="font text-uppercase text-white mt-5">20.02.2020</p>

    </div>




</div>